{% extends 'account.html' %}
{% load static %}

{% block main %}
    <div id="body">
        <h2>Enter your Email</h2>
        <form action="{% url 'accounts:forgot-password' %}" method="post">
            {% csrf_token %}

            <div class="input-group">
                <img src="{% static 'at_sign.png' %}" alt="at icon" class="input-icon">
                <input type="email" id="Email" name="email" placeholder="Email" required>
            </div>

            <input type="submit" value="Send Code" id="Submit">
        </form>
    </div>

{% endblock %}