{% extends 'account.html' %}
{% load static %}

{% block main %}
    <div id="body">
        <h2>Enter your new password</h2>
        <form action="{% url 'accounts:reset-password' %}" method="post">
            {% csrf_token %}

            <div class="input-group">
                <img src="{% static 'lock.png' %}" alt="lock icon" class="input-icon">
                <input type="password" id="Password" name="password1" placeholder="New Password" required>
            </div>

            <div class="input-group">
                <img src="{% static 'lock.png' %}" alt="lock icon" class="input-icon">
                <input type="password" id="Password" name="password2" placeholder="Confirm Password" required>
            </div>

            <input type="submit" value="Submit" id="Submit">
        </form>
    </div>

{% endblock %}